[include]
	path = ~/.gitconfig.local
[user]
	name = Piotr Bocheński
	email = piotr@bochen.ski
	signingkey = 0x9E32CE5D595D773A
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[credential]
	helper = !git-credential-gopass $@
[push]
	default = current
[gitreview]
	remote = origin
[alias]
	repos =  !"find -type d -execdir test -d {}/.git \\; -prune -print"
[pager]
	branch = false
[fetch]
	prune = true
[http]
	timeout = 15
	lowSpeedTime = 30
	lowSpeedLimit = 1000
