Xft.antialias:                 true
Xft.autohint:                  false
Xft.dpi:                       96
Xft.hinting:                   true
Xft.hintstyle:                 hintslight
Xft.lcdfilter:                 lcddefault
Xft.rgba:                      rgb

Xcursor.theme:                 Adwaita

alock.background*shade:        100
alock.background*blur:         60
alock*frame*input:             #33ff33
alock*frame*check:             #2e9ef4
alock*frame*error:             #ff3333
alock*frame.width:             2
